# Ignore application data folder
/AppData_

# Ignore log files
*.log

# Ignore Composer vendor directory if you are using Composer
/vendor/

# Ignore local environment configuration files
.env

# Ignore IDE specific files
.vscode/
.idea/
